---
on:
  - push
name: Run Azure Login With a Service Principal Secret
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: true
      - name: Azure CLI script
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az account show
      - name: Azure PowerShell script
        uses: azure/powershell@v2
        with:
          azPSVersion: latest
          inlineScript: |
            Get-AzWebApp
      - name: Create Azure Resource Group
        uses: azure/cli@v1
        with:
          inlineScript: |
            az group create --name my-resource-group --location eastus
