# File: .github/workflows/workflow.yml

on: [push]

name: Run Azure Login With a Service Principal Secret

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        enable-AzPSSession: true

    - name: Deploy Resource Group
      uses: azure/bicep-deploy@v1
      with:
        scope: subscription
        template: ./rg.bicep
        parameters: 'resourceGroupName=my-new-resource-group location=eastus' # Replace with your desired name and location
        deploymentName: 'create-resource-group-deployment'
